<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <title>NKF</title>
</head>
<body id-variable="<%=id%>" type-variable="<%=type%>" next-page-variable="<%=nextPageURL%>" url="<%=url%>">
    <header>
        <%- include('../../../partials/header'); %>
    </header>
    <%- include('../../../partials/dropdown'); %>
    <br/>
    <br/>
    <div class="container">
        <!-- <h1 class="title">Goals of our Meeting</h1> -->
        <video autoplay id="myvideo" playsinline  playsinline >
            <source src="https://national-kidney-foundation.s3.amazonaws.com/<%=type%>/choosingTransplantCenter.mp4" type="video/mp4">
        </video>            <div class="play-overlay">
            <button id="playButton">Play</button>
            </div>
        </div>
        <br/> 
        <br/> 
        <br/>
    <div class="video-controls">
        <button id="rewind">Repeat that</button>
        <button id="pause">Play</button>
    </div>
        
    <div class="checkbox-area">
        <input type="checkbox" id="checkboxItem" name="checkboxItem" value="Choosing a transplant center">
        <label for="checkboxItem">Check this box for additional information</label><br>
    </div>
    <a href="/<%=id%>">
        <button class="back">Go Back</button>
    </a>

    <a href="/<%=id%>/EducationalComponent/<%=type%>/<%=nextPageURL%>">
        <button class="next">Next</button>
    </a>
    

    </div>
    <script src="/scripts/videoControls.js"></script>
    <script src="/scripts/checkBox.js"></script>
</body>
</html>