<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <link href="/css/slider.css" rel="stylesheet" type="text/css">
    <link href="/css/dropdown.css" rel="stylesheet" type="text/css">
    <title>NKF</title>
</head>

<body id-variable="<%=id%>" type-variable="<%=type%>" next-page-variable="<%=nextPageURL%>" url="<%=url%>">
    <header>
        <%- include('../../../partials/header'); %>
    </header>
    <%- include('../../../partials/dropdown'); %>
        <div class="container">
            <h1 class="title">Goals of our Meeting</h1>
            <div class="video-wrapper">
                <div class="video-wrapper">
                    <video autoplay id="myvideo" playsinline>
                        <source src="https://national-kidney-foundation.s3.amazonaws.com/<%=type%>/Introduction.mp4"
                            type="video/mp4">
                        <!-- <track kind="captions" src="" srclang="en" label="English" default> -->
                    </video>
                    <div class="play-overlay">
                        <button id="playButton">Play</button>
                    </div>
                </div>
                <br />
                <div class="overview-buttons" style="text-align: center;display: none;">
                    <button onclick="OverviewResponse('Some of it')" style="background-color: #F15E22 !important;">Some of it</button>
                    <button onclick="OverviewResponse('Mostly useful')" style="background-color: #F15E22 !important;">Mostly useful</button>
                    <button onclick="OverviewResponse('Very useful')" style="background-color: #F15E22 !important;">Very useful</button>
                </div>
                <br />
                <br />
                <div class="video-controls">
                    <button id="rewind">Repeat that</button>
                    <button id="pause">Play</button>
                </div>
                <br>
                <br>
                <div class="slider-container" style="display: none;">
                    <p id="slider-value"><strong>Your Response: </strong><span id="slider-number">I don't know if i need
                            information or not</span></p>
                    <input type="range" min="0" max="100" class="slider" id="slider" onchange="UpdateSliderValue()">
                    <div class="labels">
                        <p class="leftAnchor">0</p>
                        <p class="rightAnchor">100</p>
                    </div>

                </div>

                <div class="checkbox-area" style="display: none;">
                    <input type="checkbox" id="checkboxItem" name="checkboxItem" onchange="UpdateCheckbox()">
                    <label for="checkboxItem">Check this box for additional information</label><br>
                </div>

                <!-- <a>
                    <button onclick="PreviousNextButtonFunction(-1)" class="back">Go Back</button>
                </a>

                <a updateVideo>
                    <button onclick="PreviousNextButtonFunction(1)" class="next">Next</button>
                </a> -->


            </div>
        </div>
        <div class="end-container" style="display: none;">
            <h1 style="color: navy;">Selected Topics</h1>
            <div id="selected-topics"></div>

            <a href="https://wharton.qualtrics.com/jfe/form/SV_ah5rKWqpP5xIn78?ID=<%=id%>">
                <button class="finish" onclick="ResetSession()">End our meeting</button>
            </a>
        </div>

        <a>
            <button onclick="PreviousNextButtonFunction(-1)" class="back">Go Back</button>
        </a>

        <a updateVideo>
            <button onclick="PreviousNextButtonFunction(1)" class="next">Next</button>
        </a>
        
        <script src="/scripts/videoControls.js"></script>
        <script src="/scripts/sliderControls.js"></script>
        <script src="/scripts/checkBox.js"></script>
</body>

</html>